 .favorites .container {
    background: rgba(105,105,105, 0.5);
    padding: 15px;
    padding-left: 60px;
 }

 .favorites .alert {
     background: rgba(105, 0, 0, 0.5);
     color: white;
     text-align: center;
     border-color: black;
 }

 .favorites .input-group {
    width: 100%;   
 }

 .favorites .form-control {
    color:aliceblue; 
    background: rgba(255, 255, 255, 0.3);
 }

 .favorites .btn-search {
    color:blueviolet; 
    background: rgba(0, 0, 0,0.7);
 }

 .favorites .btn-outline-danger {
     font-size: 10px;
     width: 30%;
     float: right;
 }

 .favorites .btn-primary {
     font-size: 12px;
     background: rgba(0, 0, 105, 0.5);
     border-color: black;
 }

 .favorites .btn-secondary {
     background: rgba(105, 0, 0, 0.5);
     font-size: 18px;
     width: 5%;
     font-weight: bold;
     float: right;
 }

 .favorites .card {
     background: rgba(0,0,0, 0.5);
     width: 15rem;
     margin: 10px;
 }

 .favorites .card-body {
   /* width: 100%;
    height: 100%; */
}

.favorites .card-text {
    font-size: 16px;
}

.favorites .card-img-top {
    width: 100%;
    height: 10vw; 
    object-fit: cover;
    alt: "Test 123";
}
