 .favorites .container {
    background: rgba(105,105,105, 0.5);
 }

 .favorites .input-group {
    width: 100%;   
 }

 .favorites .form-control {
    color:aliceblue; 
    background: rgba(255, 255, 255, 0.3);
 }

 .favorites .btn-search {
    color:blueviolet; 
    background: rgba(0, 0, 0,0.7);
 }

 .favorites .card {
     background: rgba(0,0,0, 0.5);
     width: 15rem;
 }

 .favorites .card-body {
    width: 100%;
    height: 8vw;
}

.favorites .card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
    alt: "Test 123";
}
