
@media (max-width: 992px) {
    .social a {
        font-size:  4em;
        padding: 2rem;
    }
}

.social a {
    font-size: 2.5em;
    padding: 2rem;
    padding-bottom: 0rem;

}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-google-plus-g {
    color: #dd4b39;
}
.fa-instagram {
    color: #517fa4;
}
.fa-youtube {
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}
footer {
    width: 100%;
    font-weight: bold;
}
.nav-link:hover{
    color: #d5d5d5;
}

.start .abstand {
    margin-left: 150px;
    margin-right: 150px;
}

.start .btn-primary {
    font-size: 12px;
    background: rgb(138, 43, 226, 0.5);
    border-color: black;
}


.start .btn-secondary {
    background: rgba(105, 0, 0, 0.5);
    font-size: 18px;
    width: 5%;
    font-weight: bold;
    float: right;
}

.start .card {
    background: rgba(0,0,0, 0.5);
    width: 15rem;
    margin: 10px;
}

.start .card-text {
    font-size: 16px;
}

.start .card-img-top {
    width: 100%;
    height: 10vw; 
    object-fit: cover;
    alt: "Test 123";
}

.start .alert {
    background: rgba(105, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-color: black;
}