.detail .container {
    background: rgba(105,105,105, 0.5);
}

.detail .information-container{
    padding: 10px;
}

.detail .img {
    position: relative;
    float: left;
    width:  100%;
}

.detail .col {
    flex: 50%;
    max-width: 50%;
}