

#lead{
  margin-top: 0rem;
  font-style: bold;
  text-align: center;
  padding: 2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 2rem;
  background: rgba(105,105,105, 0.5);
  border-radius: 5px;

}

#card{
  background: rgba(105,105,105, 0.5);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  border-radius: 5px;
}

#button{
 background: rgba(255,255,255, 0.4);
 width: 300px;
 color:blueviolet; background: rgba(0, 0, 0,0.7);
}

/* Inhalt einer Card */
#card-body {
  color: black;
  background: rgba(105,105,105, 0.1);
}

/* Bildergalerie */
div.gallery {
  margin: 6px;
  border-radius: 8px;
  float: left;
  width: 185px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(105,105,105, 0.1);
}

div.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.1);
}

/* Bilder */
div.gallery img {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

div.desc {
  padding: 5px;
  text-align: center;
  font-size: 1em;
  color: white;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}