/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    
}

 body {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: seashell;
    
    
    background: url("../img/ibackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
      
}
#nav {
  padding: .4rem;
  background-color: rgba(105,105,105,.9);
  color: #C0C0C0;
}
.name {
  color: #C0C0C0;
  font-size: 1.8em;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
  font-style: bold;
  color: #C0C0C0;
}
.navbar-light .navbar-nav .nav-link:hover {
  color:blueviolet; background: rgba(0, 0, 0,0.7);
  border-radius: 8px;
  
}
.nav-link {
  font-size: 1.1em !important;
}
/*
.nav-link:hover{
  color: #d5d5d5;
  border: 2px solid #777;
  border-radius: 8px;
}*/
 .footer {
   width: 100%;
  font-weight: bold;
} 

